<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
	crossorigin="anonymous">

<title>Enregistrer Aliment</title>

</head>
<body>

	<div class="container">
		<h3>Aliment</h3>
		<hr>

		<p class="h4 mb-4">Enregistrer aliment</p>


		<form action="#" th:action="@{/aliments/save}"
			th:object="${aliment}" method="POST">
			<!-- Add hidden form field to handle the update -->
			<input type="hidden" th:field="*{id}">

			 <input type="text" th:field="*{code}"
				class="form-control mb-4 w-25" placeholder="Code-barres"> 

			 <input type="text" th:field="*{productName}"
				class="form-control mb-4 w-25" placeholder="Nom du produit">
				
			<input type="text" th:field="*{categoriesTags}"
				class="form-control mb-4 w-25" placeholder="Catégories">
				
			<input type="text" th:field="*{brand}"
				class="form-control mb-4 w-25" placeholder="Marque"> 
				
			<input type="text" th:field="*{nutriscore}"
				class="form-control mb-4 w-25" placeholder="Nutriscore">
				
			<input type="text" th:field="*{allergens}"
				class="form-control mb-4 w-25" placeholder="Allergènes">
				
			<input type="text" th:field="*{number}"
				class="form-control mb-4 w-25" placeholder="Nombre">
				
			<button type="submit" class="btn btn-info col-2">Enregistrer</button>
		</form>

		<hr>

		<a th:href="@{/aliments/list}">Retour à la liste des aliments</a>
	</div>

</body>
</html>